header {
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 0 20px;
  background: #000000;
  color: #fff;
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  margin-bottom: 100px;
}
  
h1 {
  font-size: 30px;
  margin-right: auto; 
}
  
nav {
  font-size: 1rem;
  display: flex;
  gap: 1.5rem; 
  margin: 0 auto;
  position: absolute;
}

  
a {
  margin: 0 1rem;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s, font-size 0.3s, border-bottom 0.3s;
  border-bottom: 2px solid transparent;
  padding-bottom: 5px; 
}

a:hover {
  color: #fff; 
  font-size: 26px; 
  border-bottom: 2px solid #fff; 
}
  
input[type="search"] {
  margin-left: auto; 
  padding: 8px;
  font-size: 17px;
  font-weight: 800;
  border-radius: 20px;
  border: 10px solid #ccc;
  width: 200px;
  display: flex;
  margin-right: 30px;
  background-color: #333; 
}


header input[type="search"]::placeholder {
  color: #bbb;
}

header input[type="search"]:focus {
  background-color: #444;
  width: 250px;
}
