.text-container {
  flex: 1;
  margin-left: 20px;
  margin-right: 20px;
}

.image_container {
  width: 100vw;
  position: relative;
  display: inline-block;
}

.image_container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1;
}

.image {
  display: block;
  width: 100%;
  height: 750px;
  object-fit: cover;
}

.image_container img {
  position: relative;
  z-index: 0;
}

.text-container {
  position: absolute;
  bottom: 130px; 
  left: 50%;
  transform: translateX(-50%); 
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 20px;
  width: 90%; 
  margin: 0 auto;
}

.text-container h1 {
  font-size: 2.5em;
}

.text-container p {
  font-size: 1.2em;
}
  
